{
    "env": {
        "es6": true,
        "node": true,
        "jest": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:jest/recommended",
        "prettier/react",
        "plugin:prettier/recommended"
    ],
    "plugins": ["@typescript-eslint", "prettier", "react", "react-hooks", "jest"],
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        "react/prop-types": "off",
        "no-var": "error",
        "prefer-arrow-callback": "error",
        "prefer-const": "warn",
        "@typescript-eslint/explicit-function-return-type": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}
