{
    "env": {
        "es6": true,
        "node": true,
        "jest": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "prettier/react",
        "prettier/@typescript-eslint",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:jest/recommended"
    ],
    "plugins": ["@typescript-eslint", "prettier", "react", "react-hooks", "jest"],
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "linebreak-style": ["error", "unix"],
        "max-len": ["error", { "code": 100, "ignoreUrls": true }],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        "react/prop-types": "off",
        "no-var": "error",
        "prefer-arrow-callback": "error",
        "prefer-const": "warn",
        "@typescript-eslint/explicit-function-return-type": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}
